@import './../../../helpers/variables.scss';

.form {
	@extend %flex-column;
	width: 100%;
	align-items: flex-end;

	&__textarea {
		width: 100%;
		padding: 10px 15px;
		border-radius: 15px;
		border: $main_border;
	}

	&__send {
		width: 100px;
		margin-top: 15px;
	}
}
