.navigation {
    height: max-content;
    background-color: #ffffff;

    &__list {
    }
    
    &__item {
        font-weight: 500;

        &:last-child {
            margin-top: 10px;
        }
    }
    
    &__link {
        display: block;
        padding: 10px;
        color: #000000;
        transition: 150ms;

        &:hover {
            background-color: #58788a;
            color: #ffffff;
        }

        &_active {
            background-color: #58788a;
            color: #ffffff;
        }
    }
}