.navigation {
    height: max-content;
    background-color: #ffffff;
    
    &__item {
        font-weight: 500;

        &:last-child {
            margin-top: 10px;
        }
    }
    
    &__link {
        display: block;
        padding: 10px;
    }
}