#root {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    'header header'
    'navigation content';
    width: 100%;
}

.app {
    &__header {
        grid-area: header;
    }

    &__navigation {
        grid-area: navigation;
    }

    &__content {
        grid-area: content;
    }
}
