$main_color: #283e4a;
$white: #ffffff;
$main_border: 1px solid #e7e8e9;

%flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex($justify-content: center, $align-items: center, $flex-direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin avatar($size: 50px) {
    width: $size;
    height: $size;
}
