@import './../../helpers/variables.scss';

section.users {
    padding: 15px 25px;
}

.users {
    @include flex(center, center, column);

    height: 100%;

    &__list {
        width: 100%;
    }

    &__pagination {
        @include flex();
    }
}