@import './../../../../helpers/variables.scss';

.posts {
    &__ava {
        height: 50px;
        display: flex;
        align-items: flex-end;
        border-radius: 50%;
        overflow: hidden;
    }

    &__text {
        margin-left: 25px;
    }

    &__footer {
        grid-column-end: -1;
        text-align: right;
    }
}