@import './../../helpers/variables.scss';

.header {
	background-color: $main_color;
	display: flex;
	align-items: center;
	padding: 10px 15px;

	&__leftColumn {
		max-height: 100%;
		height: auto;
		width: 30px;
	}
}
