@import './../../helpers/variables.scss';

.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;
    height: 100%;
}

.users {
    &__list {
        @extend %flex-column;

        justify-content: flex-start;
        height: 100%;
        border-right: $main_border;
    }

    &__item {
        @include flex(space-between);

        align-items: center;
        padding: 10px 15px;
    }

    &__ava {
        flex-basis: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }

    &__info {
        flex-grow: 1;
    }
}

.messages {
    display: flex;
    align-items: flex-end;
    padding: 10px 15px;

    &__list {
        @extend %flex-column;
        
        align-items: flex-end;
        flex-grow: 1;
    }

    &__itemWrapper {
        max-width: 75%;
        width: max-content;

        &_left {
            align-self: flex-start;
        }
    }
    
    &__item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 15px;
        border: $main_border;
        margin-bottom: 10px;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-left: 20px;

        &_left {
            order: -1;
            margin-left: 0;
            margin-right: 20px;
        }
    }
}