@import './../../helpers/variables.scss';

.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.users {
    &__list {
        @extend %flex-column;

        border-right: $main_border;
    }
}

.messages {
    display: flex;
    align-items: flex-end;
    padding: 10px 15px;

    &__list {
        @extend %flex-column;
        align-items: flex-end;
        flex-grow: 1;
    }

    &__itemWrapper {
        max-width: 75%;
        width: max-content;

        &_left {
            align-self: flex-start;
        }
    }
}